.vw108menyala {
      font-family: Arial, sans-serif;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 10;

      display: none;
      position: fixed;
      top: 20px;
      left: 50%;
      transform: translateX(-50%);
      background-image: linear-gradient(#0093f5, #005dd6);
      color: white;
      padding: 5px 14px;
      border-radius: 5px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      font-size: 16px;
      min-width: 200px; /* Lebar minimal 200px */
      max-width: 500px;
    }

    .vw108menyala span {
      font-weight: bold;
      background: linear-gradient(to bottom, #ffd700, #c9ab00);
      -webkit-background-clip: text;
              background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .vw108menyala.show {
      display: block;
      animation: slideIn 0.5s ease, fadeOut 0.5s ease 4.5s;
    }
    
    .endul{
      text-align: center;
      line-height: 5px;
    }

    @keyframes slideIn {
      from {
        transform: translateX(-50%) translateY(20px);
        opacity: 0;
      }
      to {
        transform: translateX(-50%) translateY(0);
        opacity: 1;
      }
    }

    @keyframes fadeOut {
      from {
        opacity: 1;
      }
      to {
        opacity: 0;
      }
    }
